
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: 'poppins' ,sans-serif;
  margin: 0px;
  padding: 0px;
}
.nav{
    width: 100%;
    display: grid;
     /* border: 2px solid red; */
    height: 160px;
   background-color:#FFD54F;
  }
  #nav_lo{
    width: 55%;
    display: flex;
    margin-left: 125px;
    align-items: end;
    margin-bottom: 12px;
    /* border: 2px solid blue; */
    
    
  } 
 li{
    list-style-type: none;
  }
  #cat{
    text-align: left;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
  }
 
  ul li a{
    width: 150px;
    color: black;
    display: block;
    text-decoration: none;
    font-size:13px ;
    padding: 10px;
    font-family: 200;
   
  }
 #cat a:hover{
    background-color:#CDDC39;
    
    
  }
  li ul li{
    float: none;
  }
  li ul{
    display: none;
  }
  li:hover ul{
    display: block;
  }
  a{
    margin-left: 35px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 300;

  }
  li ul{
    background-color: white;
  }

  #nav_up{
    display: flex;
    align-items: end;
    justify-content: space-around;
   /* border: 2px solid green; */
  }
  #nav_up>div a:hover{
    background-color: rgb(226, 81, 81);
  }
  #nav_up>img{
    width: 165px;
    height: 75px;
    background: transparent;
    align-items: center;
    justify-content: center;
  }
  #nav_up>div{
    display: flex;
    font-size: 28px;
  }
#serc{
  width: 730px;
  /* border: 3px solid black; */
  padding: 8px;
  border-radius: 30px;
  background-color: white;

}
#search{
  background-color: white;
  border: 0px;
  outline: 0px;
  font-size: 19px;
  width: 700px;
}
.icon-search{
  
  color: blue;
  font-size: 20px;
}

  .containerr{
    width: 78.6%;
    margin-left: 155px;
    display: flex;
    /* border: 2px solid yellow; */
    margin-top: 15px;
  }
  .containerr>img{
    
    width: 550px;
    height: 600px;
  }

  .containerr>div{
    width: 57.6%;
    display: grid;
    /* border: 5px solid red; */
    margin-left: 1px;
    
    /* grid-template-columns: 80%; */
  }#cone{
    width: 100%;
    display: grid;
    border: 1px solid grey;
    
    /* grid-template-columns: 80%; */
  }
  #ctow{
    width: 100%;
    display: grid;
    border: 1px solid grey;;
    margin-top: 20px;
    
    /* grid-template-columns: 80%; */
  }
  .containerr>div>div>h3{
    font-size: 22px;
    margin-bottom: 0%;
    margin-top: 1%;
  }
  .containerr>div>div>div{
    width: 100%;
    display: flex;
    /* border: 5px solid green; */
  }
  #dod{
    width: 24.6%;
    display: grid;
    /* border: 2px solid black; */
    text-align: center;
    align-items: center;
  }
  #dod>img{
    margin: auto;
    width: 150px;
    height: 150px;
  }
  .discou-tag{
    
    border: 0.5px solid red;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
    align-items: center;
    color:white;
    background-color: rgb(250, 23, 23);
    
  }
  .prize{
    margin-bottom: 15px;
    font-weight: 800;
  }


  /*  Treading */

  .tre_cont{

    width: 78.6%;
    margin-left: 155px;
    display: grid;
    /* border: 2px solid rgb(221, 19, 130); */
    margin-top: 35px;
  }
  .tre_cont>div{
    display: flex;
    width: 99.8%;
    margin-top: 15px;
    /* border: 2px solid rgb(23, 190, 220); */
  }
  .inner_td{
    border: 0.5px solid rgb(185, 183, 183);
    display: grid;
    /* border: 5px solid rgb(71, 14, 162) */
  } .inner_tdd{
    margin-right: 10px;
    margin-left: 10px;
    display: grid;
    border: 0.8px solid rgb(185, 183, 183);
    /* border: 5px solid rgb(71, 14, 162) */
  }
  .inner_td>img{
    margin: auto;
    width: 400px;
    margin-bottom: 10px;

    
  }
  .inner_tdd>img{
    margin: auto;
    width: 433px;
    margin-bottom: 10px;
    
  }


  /* new */
  .ny_cont{
    display: grid;
    width: 78.6%;
    /* border: 2px solid yellowgreen; */
    margin-left: 155px;
    margin-top: 35px;
  }
  .ny_cont>div{
    display: flex;
    margin-top: 22px;
    /* border: 2px solid yellowgreen; */}
    .ny_cont>div img{
      height: 302px;
    }
  .ny_cont>div>div{
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
  }
  .ny_cont>div>div>div{
    border: 0.5px solid rgb(206, 205, 205);
    height: 300px;
    
  }
  .ny_cont>div>div>div img{
    width: 150px;
    height: 180px;
    margin-left: 35px;
  }
  .ny_cont>div>div>div p{
    margin-top: 22px;
    font-size: 12px;
  }
  .ny_cont>div>div>div h3{
    margin-top: 22px;
  }
  /* Enjoy life */
  .ej_cont{
    display: grid;
    width: 78.6%;
    /* border: 2px solid green; */
    margin-left: 155px;
    margin-top: 35px;
    

  }
  .ej_cont>div{
    display: flex;
    width: 96.7%;
    margin-top: 12px;
    /* border: 5px solid rgb(181, 20, 6); */
  }
  .ej_cont>div>img{
    width: 450px;
    height:525px;
  }
  .ej_cont>div>div{
    width: 100%;
    display: grid;
    /* border: 5px solid rgb(64, 3, 125); */
  }
  #up{
    display: flex;
    width: 100%;
    /* border: 5px solid rgb(101, 200, 101); */
    
    
  }
  #dw{
    display: flex;
    width: 100%;
    /* border: 5px solid rgb(101, 200, 101); */
    margin-top: 8px;
    
    
  }

  #bg_cl{
    width: 48.4%;
    background-color: rgb(226, 245, 245);
    margin-left: 5px;
    /* border: 5px solid black; */
    border-radius: 5px;
  }
  #bg_cl>h3{
    margin-left: 8px; 
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 15px;
  }
  .ej_cont>div>div>div>div>div{
    width: 98%;
display: flex;
/* border: 3px solid red; */

  }
  #poh{
    display: grid;
    width: 100%;
    /* border: 5px solid green; */
    margin-left: 7px;
    
    color: rgb(70, 70, 222);
  }
  #poh>img{
    margin: auto;
    width: 193px;
    height: 150px;
  
  }


  /* popular brand */

  .pb_cont{
    display: grid;
    width: 78.6%;
    /* border: 2px solid blue; */
    margin-left: 155px;
    margin-top: 35px;
    
  }
  .pb_cont>div{
    width: 100%;
    display: grid;
    margin-top: 12px;
    /* border: 3px solid red; */
  }
  .pb_cont>div>img{
    width: 100%;
  }
  .pb_cont>div>div{
    display: flex;
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgb(138, 138, 135);
  }
  .pb_cont>div>div>img{
    width: 400px;
    height: 298px;
  }
  .pb_cont>div>div>div{
    display: flex;
    width: 82%;
    margin-left: 2px;
    /* border: 2px solid black; */
  }
  #po{
    display: grid;
    width: 82%;
  }
  #po>img{
    width: 190px;
    height: 180px;
  }
  #po>span{
    font-weight: 800;
  }
  
  .bottom{
    background-color:rgb(226, 245, 245) ;
    width:100%;
    display: grid;
    margin-top: 15px;
    /* border: 2px solid red; */
  }
  #supor{
    display: flex;
    margin-bottom: 15px;
  }  
  #frm{
    width: 730px;
  padding: 8px;
  border-radius: 30px;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 25px;
  }
  #subscribe{
    width: 300px;
    height:30px;
    border-radius: 30px;
    /* border: 1px solid black; */
  }
  #sub_btn{
    width: 85px;
    height: 25px;
  }
  #hep{
    margin-left: 500px;
  }
  #cws{
    margin-left: 55px;
    display: grid;
  }
  #cws>a{
    text-decoration: none;
    color: black;
  }
  #poly{
    margin-left: 55px;
  }
  #paym{
    display: flex;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: space-evenly;
  }
  #paym>img{
    width: 85px;
    height: 35px;
    
  }

  


