.nav{
    width: 100%;
    display: grid;
     border: 2px solid red;
    height: 100px;
    background-color: aqua;
  }
  #nav_lo{
    width: 50%;
    display: flex;
    margin-left: 215px;
    align-items: end;
    border: 2px solid blue;
    
    
  } 
  #nav_up{
    display: flex;
    align-items: end;
    justify-content: space-around;
   border: 2px solid green;
  }
  
  #nav_up>img{
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
  }



  .container{
    width: 78.6%;
    margin-left: 155px;
    display: flex;
    border: 2px solid yellow;
    margin-top: 15px;
  }
  .container>img{
    
    width: 550px;
    height: 600px;
  }

  .container>div{
    width: 57.6%;
    display: grid;
    border: 5px solid red;
    margin-left: 1px;
    
    /* grid-template-columns: 80%; */
  }#cone{
    width: 100%;
    display: grid;
    border: 1px solid grey;
    
    /* grid-template-columns: 80%; */
  }
  #ctow{
    width: 100%;
    display: grid;
    border: 1px solid grey;;
    margin-top: 20px;
    
    /* grid-template-columns: 80%; */
  }
  .container>div>div>h3{
    font-size: 22px;
    margin-bottom: 0%;
    margin-top: 1%;
  }
  .container>div>div>div{
    width: 100%;
    display: flex;
    /* border: 5px solid green; */
  }
  #dod{
    width: 24.6%;
    display: grid;
    /* border: 2px solid black; */
    text-align: center;
    align-items: center;
  }
  #dod>img{
    margin: auto;
    width: 150px;
    height: 150px;
  }
  .discou-tag{
    
    border: 0.5px solid red;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
    align-items: center;
    color:white;
    background-color: rgb(250, 23, 23);
    
  }
  .prize{
    margin-bottom: 15px;
    font-weight: 800;
  }


  /*  Treading */

  .tre_cont{

    width: 78.6%;
    margin-left: 155px;
    display: grid;
    border: 2px solid rgb(221, 19, 130);
    margin-top: 15px;
  }
  .tre_cont>div{
    display: flex;
    width: 99.8%;
    border: 2px solid rgb(23, 190, 220);
  }
  .inner_td{
    
    display: grid;
    border: 5px solid rgb(71, 14, 162)
  } .inner_tdd{
    margin-right: 10px;
    margin-left: 10px;
    display: grid;
    border: 5px solid rgb(71, 14, 162)
  }
  .inner_td>img{
    margin: auto;
    width: 400px;

    
  }
  .inner_tdd>img{
    margin: auto;
    width: 433px;
    
  }
  .ny_cont{
    display: grid;
    width: 78.6%;
    border: 2px solid yellowgreen;
    margin-left: 155px;
    margin-top: 15px;
  }
  /* Enjoy life */
  .ej_cont{
    display: grid;
    width: 78.6%;
    border: 2px solid green;
    margin-left: 155px;
    margin-top: 15px;
    

  }
  .ej_cont>div{
    display: flex;
    width: 96.7%;
    border: 5px solid rgb(181, 20, 6);
  }
  .ej_cont>div>img{
    width: 450px;
    height:525px;
  }
  .ej_cont>div>div{
    width: 100%;
    display: grid;
    border: 5px solid rgb(64, 3, 125);
  }
  #up{
    display: flex;
    width: 100%;
    border: 5px solid rgb(101, 200, 101);
    
    
  }
  #dw{
    display: flex;
    width: 100%;
    border: 5px solid rgb(101, 200, 101);
    margin-top: 8px;
    
    
  }

  #bg_cl{
    width: 48.4%;
    background-color: rgb(226, 245, 245);
    margin-left: 5px;
    border: 5px solid black;
    border-radius: 5px;
  }
  #bg_cl>h3{
    margin-left: 8px; 
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 15px;
  }
  .ej_cont>div>div>div>div>div{
    width: 98%;
display: flex;
border: 3px solid red;

  }
  #poh{
    display: grid;
    width: 100%;
    border: 5px solid green;
    margin-left: 7px;
    
    color: rgb(70, 70, 222);
  }
  #poh>img{
    margin: auto;
    width: 193px;
    height: 150px;
  
  }